h1,h2{
	text-align:center;
	font-weight: bold; 
	font-family: 'Times New Roman', Times;
}
h1{
	text-decoration:underline;
}
p,li,h4{
	font-family: 'Noto Sans JP', sans-serif, Times New Roman;
}
h1:hover{
	background-color: black;
	color: white;
}
h2:hover{
	background-color: black;
	color: white;
}
p:hover{
	background-color: black;
	color: white;
}
li:hover{
	background-color: black;
	color: white;
}
img{
	width: 470px;
	height: 250px;
	margin:auto;
}
#footer {
	overflow: hidden;
	width: 100%;
	position: relative;
	text-align:  center;
}
  
 /* RESUME PAGE  */
#resume-page {
	background-image: url("../images/pencil.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
}
#About {
	text-align: left;
	float: left;
	width: 525px;
	border: 3px solid black;
	margin: 30px 30px 30px;
	padding: 10px 20px;
}
#Skills {
	text-align: left;
	float: left;
	width: 525px;
	border: 3px solid black;
	margin: 30px 30px 30px;
	padding: 10px 20px;
}
#Education {
	text-align: left;
	float: left;
	width: 525px;
	border: 3px solid black;
	margin: 30px 30px 30px;
	padding: 10px 20px;
}
#work {
	text-align: left;
	float: left;
	width: 525px;
	border: 3px solid black;
	margin: 30px 30px 30px;
	padding: 10px 20px;
}
#contact {
	text-align: left;
	float: left;
	width: 525px;
	border: 3px solid black;
	margin: 30px 30px 30px;
	padding: 10px 20px;
}
#volunteer {
	text-align: left;
	float: left;
	width: 525px;
	border: 3px solid black;
	margin: 30px 30px 30px;
	padding: 10px 20px;
}

/* shows */
#show-page {
	background-image: url("../images/netflix.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
#avatar{
	text-align: left;
	float: left;
	width: 525px;
	margin: 30px 30px 30px;
	padding: 10px 20px;
}
#Yona{
	text-align: left;
	float: left;
	width: 525px;
	margin: 30px 30px 30px;
	padding: 10px 20px;
}
#Weightlifting{
	text-align: left;
	float: left;
	width: 525px;
	margin: 30px 30px 30px;
	padding: 10px 20px;
}
iframe {
	width: 525px;
	height: 250px;
	margin: auto;
	border-width: 0px;
}

/* Illinois */
#illinois-page {
	background-image: url("../images/sky.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
}
#downtown{
	text-align: left;
	float: left;
	width: 525px;
	margin: 30px 30px 30px;
	padding: 10px 20px;
}
#sixflags{
	text-align: left;
	float: left;
	width:525px;
	margin: 30px 30px 30px;
	padding: 10px 20px;
}
#naperville{
	text-align: left;
	float: left;
	width: 525px;
	margin: 30px 30px 30px;
	padding: 10px 20px;
}

/* Navigation Bar */
#navbar {
	overflow: hidden;
	background-color: gray;
}
#navbar-box {
	float: left;
	width: 100%;
	position: relative;
}
#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	float: left;
}
#navbar ul li {
	float: left;
	position: relative;
	right: 50%;
	display: block;
	font-size: 20px;
}
#navbar ul li a {
	display: block;
	padding: 10px 20px;
	color: black;
	text-decoration: none;
}
#navbar ul li a:hover {
	background-color: black;
	color: white;
}
